body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f0f4f8;
  color: #333;
}

section {
  padding: 30px;
}

h2 {
  color: #28a745;
}

blockquote {
  background-color: #eafbea;
  padding: 16px;
  border-radius: 5px;
}
